
body{
    text-align: center;
    margin: auto ;
    background-color: rgb(202, 194, 194);

}

.issovaipmeio {
    text-align: center;
}

.letrasproutrold{
    text-align: left;
    padding-left: 18%;

}